extends layout

block content
  div.container
    h1.title= "Providers you matched"
    div.panel.panel-default
        <!-- Table -->
        table.table
            thead
                tr
                    th
                    th Name
                    th Transit
                    th Min. Age
                    th Max. Age
                    th Gender
            tbody
                each provider in providers
                    tr
                        td
                            if provider.open_now
                                button.btn.btn-success.btn-xs= 'Open Now'
                            else
                                button.btn.btn-danger.btn-xs= 'Closed Now'
                        td
                            p= provider.ProgramName
                        td
                            p= provider.Transit
                        td
                            p= provider.MinAge
                        td
                            p= provider.MaxAge
                        td
                            p= provider.Gender
