extends layout

block content
  div.container
    h3 Providers Results
    h4 Here are the best places for you to go to find #{answers.interests} in Cambridge. We built this list for someone who identified as #{answers.gender} age of #{answers.age}.
    div.panel.panel-default
        table.table
            thead
                tr
                    th
                    th Name
                    th Transit/Contact
                    th Support Services
            tbody
                each provider in providers
                    tr
                        td
                        td
                            p= provider.ProgramName
                        td
                            if (provider.Transit)
                                p Public Transit: #{provider.Transit}
                            p= Address
                            p= provider.Address
                            p= provider.City + ' '+provider.State + ' '+ provider.Zip
                            if provider.Phone
                                p Phone: #{provider.Phone}
                        td
                            p= provider.serviceList

