extends layout

block content
  div.container
    h1.title= "Resource finder"
    h4.subtitle= "What can we do to help?"
    -for(var prop in question)
      p #{prop}: #{question[prop]}

    p.footer= "This is a footer. It contains stuff that goes in the footer of the webpage but this is just filler text."
